body{font-family: sans-serif;}
header{display:flex;
justify-content:space-between ;
height: 50px;
align-items: center;
padding: 5px;
background-color: rgba(105, 105, 105, 0.429);}
.logo{display: flex;}
.logo img{display:flex;
align-items: center;
height: 50px;}
a{text-decoration: none;
padding-right: 20px;
color: azure;}
.nav{align-items: center;
}

.verde{color: green;}
.blanco{color: white;
text-size-adjust: 2px;}
.fotobsas1{background-image: url(../img/ba1.jpg);
   /* display: flex;*/
   align-items: left;
background-position: center center;
background-repeat: no-repeat;
background-size: 100% 100%;
height: 350px;
color: white;}
/*.textoderecha{width: 40%;
;}*/
.textoderecha{position: relative;}
.text-center{display: block;margin: auto;}
.container{position: relative;}
